<!DOCTYPE html>

<div style="background-color: #010101;">
    <img src=" <%= imageData %> "/>
    <div>
        <span style="color:silver; font-style:normal; font-size:25px; font-weight: lighter"><%= textData.quote_former %></span>
        <span style="color:whitesmoke; font-style:normal; font-size:28px; font-weight: bold"><%= textData.time %></span>
        <span style="color:silver; font-style:normal; font-size:25px; font-weight: lighter"><%= textData.quote_latter %></span>
        <div style="color:silver; font-style:italic; font-size:25px; text-align: right">
            <span>— <%= textData.work %></span>, <span><%= textData.author %></span>
        </div>
    </div>
</div>

</html>
